apiVersion: stunner.l7mp.io/v1alpha1
kind: Dataplane
metadata:
  name: default
spec:
  replicas: 1
  image: l7mp/stunnerd:dev
  imagePullPolicy: Always
  command:
    - stunnerd
  args:
    - -w
    - -c
    - /etc/stunnerd/stunnerd.conf
    - --udp-thread-num=1
  hostNetwork: false
  resources:
    limits:
      cpu: 250m
      memory: 120Mi
    requests:
      cpu: 250m
      memory: 120Mi
  terminationGracePeriodSeconds: 3600
