name: Tests

on:
  push:
    branches: *
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18
      - name: Download modules
        run: go mod download
      - name: Go install
        run: go install
      - name: Test
        run: go test
